*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

.vscode
libdarknet.a
libdarknet.so

VOCdevkit
backup
weights

2007_*.txt
2012_*.txt
train.all.txt
train.txt
